.video-responsive {
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
    height: 0;
  }
  
  .video-responsive iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
  }

  .header-container {
    margin-top: 1%;
    margin-left: 20%;
  }

  .main-container {
    text-align: center;
    display: flex;
    margin-left: 20%;
    margin-right: 20%;
  }

  .flow {
    display: flex;
    flex-direction: column;
  }

  .center {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .authors {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .line  {
    width: 100%;
    border-bottom: #60B1B6 1px solid;
  }

  .footer {
    text-align: center;
    margin-top: 3%;
  }

  .footer-text {
    font-size: 9;
  }
  

  .qr-code {
    width: 60%;
    padding: 0px;
    margin-bottom: 16px;
  }

  .left {
    text-align: left;
  }

  .slideshow {
    margin: 0 auto;
    overflow: hidden;
    max-width: 500px;
  }

  .slide {
    display: inline-block;
    height: 422px;
    width: 100%;
    border-radius: 40px;
  }

  .slideshow-slider {
    white-space: nowrap;
    transition: ease 750ms;
  }

  .slideshowDots {
    text-align: center;
  }
  .slideshowDot {
    display: inline-block;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    cursor: pointer;
    margin: 15px 7px 0px;
    background-color: #c4c4c4;
  }
  .slideshowDot.active {
    background-color: #60B1B6;
  }

  .slideshow-image {
      height: 100%;
      padding: 0px;
      border-radius: 8px;
      border: #60B1B6 1px solid;
  }

  .text-container {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
  }

  .button-container {
    text-align: center;
    padding-top: 0.1rem;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 0.1rem;
    background-color: #60B1B6;
    border: #60B1B6;
    border-radius: 0.5em;
    border-width: 1;
    margin-bottom: 16px;
  }

  .half-width {
    width: 50%;
  }

  .button-label {
    font-size: x-large;
    color: white;
    font-weight: bold;
    padding: 0;
    margin-top: 6%;
    margin-bottom: 6%;
  }

  .version-label {
    color: #60B1B6;
    padding: 0;
    margin-top: 6%;
    margin-bottom: 6%;
    padding-left: 16px;
  }

  .version-container {
    display: flex;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 0.1rem;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 0.1rem;
    background-color: #ffffff;
    border: #60B1B6 1px solid;
    border-radius: 4px;
    margin-bottom: 16px;
  }

  .author-container {
    display: flex;
    width: 40%;
    flex-direction: column;
    background-color: white;
    border-radius: 8px;
    border: #60B1B6 1px solid;
    padding: 8px;
    padding-bottom: 48px;
    margin: 16px;
  }

  .shadow {
    box-shadow: 6px 8px 5px #40787b20;
  }

  .row {
    display: flex;
    flex-direction: row;
  }

  .version-image {
    width: 36px;
  }

  .author-image {
    border: 2px solid #60b2b677;
    border-radius: 50%;
    width: 70%;
  }

  .button-width {
    width: 100%;
    margin: auto;
  }

  .spacing {
    display: inline-block;
    margin-top: 32px;
    margin-bottom: 32px;
  }

  .spacing16 {
    display: inline-block;
    margin-top: 8px;
    margin-bottom: 8px;
  }
  
  .outline {
    border-radius: 8px;
    border: #60B1B6 1px solid;
    padding: 8px;
  }

  .card {
    width: 50%;
    border-radius: 8px;
    border: #60B1B6 1px solid;
    padding: 8px;
    margin: auto;
  }

  .debug1 {
    background-color: lightgray;
  }

  .debug2 {
    background-color: lightcyan;
  }


  a {
    text-decoration: none
  }

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300&display=swap');

.text {
    font-family: 'Roboto', sans-serif;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}

.text {
  font-size: 22px;
  margin-top: 0px;
  line-height: 40px;
  text-align: center;
}

.heading {
  font-family: 'Work Sans', sans-serif;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
  font-size: 50px;
  margin-bottom: 8px;
  letter-spacing: -2px;
}


@media only screen and (max-width:1024px) {
  .main-container {
    width: 90%;
    margin: auto;
}

.version-container {
  width: 80%;
}

.authors {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.author-container {
  width: 50%;
}
.header-container {
  margin: 0;
  margin-top: 8px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.slideshow {
  max-width: 500px;
}

.heading {
  font-size: 38px;
  text-align: center;
}

.text-container {
  width: 90%;
  text-align: center;
  margin: auto;
}



.footer {
  margin-top: 0px;
}

.half-width {
  width: 80%;
}

.qr-code {
  width: 50%;
}
}

@media only screen and (max-width:512px) {
  .main-container {
      width: 100%;
      margin: 0;
  }

  .version-container {
    width: 80%;
  }
  .authors {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .qr-code {
    width: 50%;
  }

  .author-container {
    width: auto;
  }
  .header-container {
    margin: 0;
    margin-top: 8px;
    text-align: center;
  }

  .slideshow {
    max-width: 300px;
  }

  .heading {
    font-size: 32px;
    text-align: center;
  }

  .text-container {
    width: 90%;
  }

  .text {
    font-size: 20px;
    margin: auto;
    line-height: 34px;
    text-align: center;
    padding: 0;
  }

  .footer {
    margin-top: 0px;
  }

  .button-container {
    margin-top: 16px;
    width: 90%;
  }

  .half-width {
    width: 100%;
  }
  
  
}

  
  